<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Standard HTML Template">
    <meta name="author" content="Obaid Hossain - One Plus Solution">

	<meta property="og:title" content="Standard HTML Template" />
	<meta property="og:author" content="Obaid Hossain - One Plus Solution" />
	<meta property="og:author-url" content="https://facebook.com/obaid.hossain" />
  <meta property="og:type" content="website template" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	
	<!-- Font Integration -->
	<link href='https://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="./public/css/style.css" type="text/css">
</head>
<body>
	<div id="main"></div>
	<!-- NAVBAR -->
    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-static-top">
          </div>
        </nav>
      </div>
    </div>

    <!-- Slider -->
    <div id="ops_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
		  <div class="slider_pattern"></div>
          <img src="./public/image/slider1.jpg" alt="" />
          <div class="container">
            <div class="slider-innertext">
              <h1>基于egg.js框架搭建的手脚架<span>egg-xiaoming</span></h1>
              <p>Author：xiaoming</p>
            </div>
          </div>
        </div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>	
</body>
</html>